div {
    margin: 1em;
}

div * {
    margin: .1em;
}

span {
    margin: 1em;
    width: 30%;
    border: thin solid black;
    height: 30px;
    float: left;
    clear: both;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
    padding: .5em;
}

#display {
    border-bottom: 1px dashed lightgrey;
}

#previous {
    border-top: none;
}