* {
    box-sizing: border-box;
}

div {
    margin: 1rem;
}

div * {
    margin: .1rem;
}

span {
    margin: 0, 1rem;
    width: 30%;
    border: thin solid black;
    height: 30px;
    float: left;
    clear: both;
    text-align: right;
    padding: .5rem;
}

#previous {
    border-bottom: 1px dashed lightgrey;
    font-size: .75rem;
    color: grey;
}

#display {
    border-top: none;
}

#display:empty::before {
    content: '0';
    display: inline-block;
}